<form action="/attack">
<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<p></p>
<%= @game.player_2.name %>: <%= @game.player_2.hitpoints %>hp
<p></p>

<input type="submit" value="Attack!">
</form>
